<?xml version="1.0"?>
<launch>
    <node pkg="cartesian_planner" type="reference_publisher.py" name="reference_publisher_node" output="screen" args="path static pedestrian dynamic serialize" />
    <node pkg="cartesian_planner" type="node" name="cartesian_planner_node" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find cartesian_planner)/config/config.rviz"/>
</launch>